:root {
  --violeta: #6b2985;
  --amarillo: #ffcc14;
  --rosa: #ff5757;
  --verde: #82b527;
  --gris: #828282;
  --blanco: #e1e1e1;
  --negro: #0f0f0f;
}

.App {
  background-color: #e1e1e1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-toggler-icon {
  width: 2.5rem;
  /* Tamaño horizontal */
  height: 2.5rem;
  /* Tamaño vertical */
  background-color: rgba(255, 204, 20, 0);
  /* Color de fondo */
  border-radius: 8px;
  /* Opcional: bordes redondeados */
  color: #6b2985 !important;
}

/* Para cambiar el color de las líneas del icono hamburguesa */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(107, 41, 133)' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgb(107, 41, 133) !important;
  /* Color de fondo */
  color: #6b2985 !important;
  text-align: center;

}

.nav-link {
  color: #6b2985 !important;
}

.bienvenida {
  background: #6B2985;
  color: var(--amarillo);
  padding: 20px;
}

.bienvenida h1 {
  color: var(--violeta);
  text-shadow: #ffcc14 2px 2px 3px, #ffcc14 0 0 1em, #ffcc14 0 0 0.2em;
  text-align: center;
}

.bienvenida .subtitulo,
.bienvenida .finMensaje {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4;
}

.bienvenida p {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.2;
}

.bienvenida .idea {
  font-style: italic;
  text-align: center;
  font-weight: bolder;
}

.botonVioleta:hover {
  Color: #ffcc14 !important;
  background-color: #6b2985 !important;
  border-color: #ffcc14 !important;
}

.botonVioleta {
  background-color: #ffcc14 !important;
  Color: #6b2985 !important;
  border-color: #ffcc14 !important;

}

.buscar {
  color: #ffcc14 !important;
  background-color: #6b298528 !important;
  border-color: #ffcc14 !important;
}

.buscar::placeholder {
  color: #ffcc14 !important;
  opacity: 1;
  font-weight: bold;

}

/* Para navegadores antiguos (Mozilla) */
.buscar::-moz-placeholder {
  color: #ffcc14 !important;
  opacity: 1;
  font-weight: bold;

}

/* Para Internet Explorer */
.buscar:-ms-input-placeholder {
  color: #ffcc14 !important;
  font-weight: bold;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}